<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @project.customer_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>Invoice type:</strong>
  <%= @project.invoice_type %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @project.amount %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
