<nav class="navbar navbar-expand-sm   navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= image_tag "logo2.png", class: "navbar-brand", width: "40px" %>
  <%= link_to "BUNBU TIMESHEETS", root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item <%= 'active' if controller_name == 'dashboards' %>"><%= link_to "Home", dashboards_path, class: "nav-link" %></li>
      <li class="nav-item <%= 'active' if controller_name == 'customers' %>"><%= link_to "Customer", customers_path, class: "nav-link"  %></li>
      <li class="nav-item <%= 'active' if controller_name == 'projects' %>"><%= link_to "Project", projects_path, class: "nav-link"  %></li>
      <li class="nav-item <%= 'active' if controller_name == 'invoices' %>"><%= link_to "Invoice", invoices_path, class: "nav-link" %></li>
      <% if admin? %>
        <li class="nav-item <%= 'active' if controller_name == 'accounts' %>"><%= link_to "Accounts", accounts_path %></li>
        <li class="nav-item"><%= link_to "Salaries", salaries_path %></li>
      <% end %>
      <li class="nav-item">
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_account.email %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu sm-menu">
            <li class="dropdown-item"><%= link_to "Profile", profile_accounts_path %></li>
            <li class="dropdown-item"><%= link_to "Logout", destroy_account_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Login", new_account_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>