<div class="profile-sidebar">
  <!-- SIDEBAR USERPIC -->
  <div class="profile-userpic">
    <%= image_tag "default-avatar.png", class: "img-responsive" %>
  </div>
  <!-- END SIDEBAR USERPIC -->
  <!-- SIDEBAR USER TITLE -->
  <div class="profile-usertitle">
    <div class="profile-usertitle-name">
      <%= current_account.email %>
    </div>
    <div class="profile-usertitle-job">
      Developer
    </div>
  </div>
  <!-- END SIDEBAR USER TITLE -->
  <!-- SIDEBAR BUTTONS -->
  <div class="profile-userbuttons">
    <button type="button" class="btn btn-success btn-sm">Follow</button>
    <button type="button" class="btn btn-danger btn-sm">Message</button>
  </div>
  <!-- END SIDEBAR BUTTONS -->
  <!-- SIDEBAR MENU -->
  <div class="profile-usermenu">
    <ul class="list-group">
      <li class="list-group-item <%= 'active' if action_name == 'profile' %>">
        <%= link_to profile_accounts_path  do %>
          <i class="fa fa-user"></i>
          General
        <% end %>
      </li>
      <li class="list-group-item <%= 'active' if action_name == 'connection' %>">
        <%= link_to connection_accounts_path  do %>
          <i class="fa fa-share"></i>
          Connection
        <% end %>
      </li>
      <li class="list-group-item">
        <a href="#">
        <i class="fa fa-key"></i>
        Change password </a>
      </li>
      <li class="list-group-item">
        <%= link_to destroy_account_session_path, method: :delete  do %>
          <i class="fa fa-sign-out"></i>
          Logout
        <% end %>
      </li>
    </ul>
  </div>
  <!-- END MENU -->
</div>